.btnsTrayProductsList {
	//border: 1px solid red;

	display: flex;
	align-items: center;
	column-gap: 10px;
	//margin-top: 10px;

	// > * {
	// 	height: 50px;
	// 	border-radius: 10px;
	// }

	.btnPayment {
		display: flex;

		&Other {
			width: 90px;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			position: relative;

			background: orangered;
			border-radius: 10px 0px 0px 10px;

			span {
				color: #fff;
				line-height: 1em;
			}

			img {
				height: 20px;
				position: absolute;
				bottom: 1px;
				//width: 17px;
			}
		}

		&Card {
			height: 50px;
			width: 60px;
			background: #69cd55;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			//color: #fff;

			border-radius: 0px 10px 10px 0px;

			img {
				width: 34px;
			}

			// span {
			// 	&:nth-child(1) {
			// 		font-size: 17px;
			// 		font-weight: 500;
			// 	}

			// 	&:nth-child(2) {
			// 		font-size: 15px;
			// 	}
			// }
		}
	}

	.btnDiscount {
		background: #000;
		height: 50px;
		border-radius: 10px;

		&.active {
			background: blue;
		}
	}

	.btnClear {
		//width: 62px;
		background: #f72727;
	}
}
