@import "./vars";
@import "./reset";

body {
	background: #fff;
	font-family: $mainFont;
}

// FORM
input {
	height: 54px;
	padding: 0px 10px;
	font-size: 20px;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
