.catalogHeader {
	display: flex;
	column-gap: 2px;
	margin-bottom: 10px;

	&Item {
		//border: 1px solid red;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		row-gap: 2px;

		height: 70px;
		min-width: 110px;
		max-width: 160px;
		padding: 10px;

		cursor: pointer;
		user-select: none;
		background: #cbcbcb;

		img {
			height: 20px;
		}

		span {
			text-align: center;
			font-size: 14px;
			font-weight: 500;
		}
	}

	.itemCatalog {
		background: rgb(152, 152, 223);
	}

	.itemFavorites {
		background: linear-gradient(45deg, rgba(250, 205, 23, 1) 0%, rgba(235, 153, 30, 1) 100%);
	}
}

.catalogList {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-content: flex-start;
	gap: 2px;
	overflow-y: auto;

	> * {
		cursor: pointer;
		user-select: none;
	}
}

// избранное
.favoritesList {
	//border: 1px solid red;

	.emptyCell {
		height: 110px;
		background: #cbcbcb;
	}
}

.catalogProductSkus {
	&List {
		width: 400px;
		//border: 1px solid red;

		.sku {
			display: flex;
			padding: 12px 0px;
			border-bottom: 1px solid rgb(189, 189, 189);
			cursor: pointer;
			user-select: none;

			&Name {
				font-weight: 500;
				font-size: 17px;
				width: 50%;
			}

			&Price {
				margin-left: auto;
			}

			&Leftover {
				//border: 1px solid red;
				width: 85px;
				margin-left: 20px;
				text-align: right;
			}
		}
	}
}
