@import "@/assets/scss/vars";

.user {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0px 12px;

	background: rgb(39, 143, 101);
	font-weight: 500;
	color: #fff;

	font-size: 14px;
}
