.CodeProduct {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: auto;

	&Preview {
		height: 60px;
		padding: 0px 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 10px;
		background: #0b2e4a;

		&Number {
			//border: 1px solid red;
			font-size: 22px;
			font-weight: 500;
			letter-spacing: 5px;
			color: #fff;
		}

		&Btns {
			user-select: none;

			> div {
				//border: 1px solid red;
			}

			.BtnDel {
				height: 40px;
				width: 40px;

				background-image: url(./img/del.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 80%;
			}
		}
	}

	&Show {
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		font-weight: 500;
		background: #60605c;
		color: #fff;
		cursor: pointer;
		user-select: none;
	}
}

.keypad {
	background: #000;
}

// &:before {
// 	content: "";
// 	display: block;
// 	background: #000;
// 	position: absolute;
// 	width: 100%;
// 	height: 100vh;
// 	top: 0;
// 	bottom: 0;
// }
